@import '../../utils/variables';





.setting-modal {
    border: 1px solid #cccccc80;
    background-color: var(--two-color);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    button {
        background-color: inherit;
        padding: 0px !important;
        border: none;
    }

    &__item {
        // background-color: red;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 10px;
        border-radius: 6px;
        &:hover {
            background-color: var(--three-color);
        }

        &__text {
            white-space: nowrap;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--one-text-color);
            flex: 1;
            text-align: start;
        }
    }

    &__icon {
        color: var(--one-text-color);
        font-size: 28px;
        display: flex;
    }

}