
$primary-color: #3b82f6;
$secondary-color: #e2e8f0;
$one-color: #2563eb;
$two-color: #fff;
$three-color: #e8f0fe;
$four-color: #1d4ed8;
$five-color: #fef2f2;
$six-color: #ef4444;

$one-text-color: #000;
$two-text-color: #94a3b8;
$three-text-color: #dc2626;
$four-text-color: #fff;
