// src/styles.scss

// Sử dụng CSS Variables trực tiếp
:root {
    --background-color: #fff;
    --background-hover-color: #e0f2fe;

    --primary-color: #3b82f6;
    --secondary-color: #e2e8f0;
    --one-color: #2563eb;
    --two-color: #fff;
    --three-color: #f0f4fc;
    --three-hover-color: #c9ddff;
    --four-color: #1d4ed8;
    --five-color: #fef2f2;
    --six-color: #ef4444;
    --six-hover-color: #be123c;
    --seven-color: #1d4ed8;
    --seven-hover-color: #1e40af;
    --eight-color: #a3a3a3;
    --eight-hover-color: #525252;
    --nine-color: #2563eb;
    --nine-hover-color: #1e40af;
    --ten-color: #e5e7eb;
    
    --chatting-color: #e1ecff;
    --box-item-cover-color: #e5e7eb;
    --post-color: #fff;

    --outgoing-color: #e1ecff;
    --incoming-color: #fff;
    --background-conv-color: #f6f6f6;
    --typing-color: #2563eb;
    --error-color: #dc2626;
  
    --one-text-color: #000;
    --two-text-color: #94a3b8;
    --three-text-color: #dc2626;
    --four-text-color: #fff;

  }
  
  // Ghi đè trong dark mode
  [data-theme='dark'] {
    --background-color: #18181b;
    --background-hover-color: #404040;
    
    --primary-color: #111827;
    --secondary-color: #27272a;
    --one-color: #3f3f46;
    --two-color: #171717;
    --three-color: #525252;
    --three-hover-color: #404040;
    --four-color: #9ca3af;
    --five-color: #f87171;
    --seven-color: #525252;
    --seven-hover-color: #737373;
    --eight-color: #404040;
    --eight-hover-color: #525252;
    --nine-color: #2563eb;
    --nine-hover-color: #1e40af;
    --ten-color: #404040;
    
    --box-item-cover-color: #252525;
    --chatting-color: #404040;
    --post-color: #404040;
    
    --outgoing-color: #525252;
    --incoming-color: #404040;
    --background-conv-color: #171717;
    --typing-color: #e5e7eb;
    --error-color: #dc2626;
  
    --one-text-color: #fff;
    --two-text-color: #e5e7eb;
    --three-text-color: #f87171;
    --four-text-color: #fff;
  }
