@import '../../utils/variables';


.sidebar-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    li {
        padding: 0;
        margin: 0;
    }

    &__avatar {
        width: 48px;
        aspect-ratio: 1/1;
        cursor: pointer;
        margin: 22px auto 0 auto;
        padding: 10px 0;


        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__top,
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
    }

    &__icon {
        color: $four-text-color;
        font-size: 28px;
        width: 60px;
        padding: 10px 0;
    }
}


.tooltip {
    position: relative;
    // padding: 16px 0;
    // width: 100%;
    text-align: center;
    cursor: pointer;

    &__text {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 6px;
        position: absolute;
        z-index: 1;
        bottom: 10%;
        left: 80%;
        opacity: 0;
        transition: opacity 0.3s;
        white-space: nowrap;
    }

    &:hover {
        background-color: $one-color;
    }

    &:hover> {
        .tooltip__text {
            background-color: black;
            visibility: visible;
            opacity: 1;
        }
    }
}

.setting-box {
    position: relative;

    &__open {
        position: absolute;
        left: calc(100% + 10px);
        bottom: 10px;
    }

}