@import '../../utils//variables';

.reset-password {
    background-color: $secondary-color;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border-radius: 0.375rem;
    &__button {
        background-color: $four-color;
        border: none;
        outline: none;
    }
}
