@import '../../utils/variables';


.friends-list {
    border-right: 1px solid #ccc;
    max-height: 100vh;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;

    &__left {
        width: 350px;
    }

    &__title {
        font-size: 1.75rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 40px;
        padding-top: 20px;
        padding-left: 10px;
        // border-bottom: 1px solid #aaa;
    }

    &__search {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
        color: var(--one-text-color);

        &__group {
            display: flex;
            align-items: center;
            background-color: var(--three-color);
            border-radius: 8px;
            padding-right: 8px;
            flex: 1;


            span {
                font-size: 1.5rem;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                height: 40px;
                width: 100%;
                border: none;
                outline: none;
                font-size: 1.25rem;
                padding: 0;
                color: var(--one-text-color);
                background-color: inherit;
            
            }
        }
    }

    &__card {
        padding: 10px;
        overflow-y: scroll;
        height: calc(100vh - 104px);
        flex: 1;

        h3 {
            height: 24px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;

        &__image {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &:hover {
            background-color: var(--background-hover-color);
        }
    }

    &__show {
        background-color: inherit;
        position: relative;

        span {
            position: absolute;
            right: -14px;
            top: calc(50vh - 14px);
            width: 28px;
            height: 28px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
            color: var(--nine-color);
            // background-color: var(--two-color);
            background-color: #fff;
            z-index: 1;
            border: 1px solid #646464;

            &:hover {
                // background-color: var(--two-hover-color);
            }
        }
    }
}

.none {
    display: none;
}