@import '../../utils//variables';


.profile-friend {
    width: 950px;
    margin: auto;

    &__head {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    &__cover-photo {
        width: 100%;

        img {
            width: 100%;
            aspect-ratio: 19/7;
            object-fit: cover;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    &__box {
        padding: 1rem;
        display: flex;
        gap: 10px;
    }


    &__avatar {
        margin-top: -40px;
        width: 170px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box-center {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 350px;

        &__name {
            font-size: 2.5rem;
        }

        &__friends-img {
            display: flex;

            @for $i from 1 through 7 {
                :nth-child(#{$i}) {
                    margin-left: -10px;
                    z-index: 7- $i;
                }
            }

            :first-child {
                margin: 0;
            }

            img {
                width: 40px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &__ellipsis {
            width: 40px;
            height: 40px;
            // background-color: #bbb;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 24px;
        }

    }

    &__box-right {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: end;
        gap: 12px;

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--eight-color);
            gap: 6px;

            &:hover {
                background-color: var(--eight-hover-color);
            }
        }
        


    }

    &__text {
        margin-left: 6px;
    }

    &__box-bio {
        padding: 10px;
        text-align: center;
        font-size: 1.25rem;
    }
}

.btn {
    &--color {
        background-color: var(--nine-color);
    }

    &__friend {
        color: var(--four-text-color);
    }

    &__msg {
        background-color: var(--nine-color);

        &:hover {
            background-color: var(--nine-hover-color);
        }
    }   
}

.cancel-friend {
    background-color: red;
}

