@import '../../utils/variables';


.form {
    background-color: var(--two-color);
    width: 400px;
    // border: 1px solid #000;
    padding: 30px;
    padding-bottom: 75px;
    border-radius: 0.275rem;
    margin-bottom: 25px;

    &__logo {
        margin-bottom: 10px;
        height: 90px;
        text-align: center;

        img {
            height: 100%;
            // aspect-ratio: 1/1;  
            object-fit: contain;
            // border-radius: 50%;
        }
    }

    &__group {
        margin-bottom: 1.75rem;
        width: 100%;
        background-color: var(--two-color);
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__input {
        flex: 1;
        padding: 10px;
        border: none;
        background-color: var(--three-color);
        border-radius: 0.375rem;
        font-size: 1.5rem;
        outline: 1px solid var(--three-color);

        &:focus {
            outline-color: var(--primary-color);
        }
    }

    &__error {
        color: var(--three-text-color);

        &__server {
            color: var(--three-text-color);
            margin-bottom: 1.25rem;
            padding: 10px;
            background-color: var(--five-color);
            border-radius: 0.375rem;
            font-size: 1.5rem;
        }
    }

    &__button {
        width: 100%;
        padding: 8px;
        border: none;
        background-color: var(--primary-color);
        color: var(--two-color);
        border-radius: 0.375rem;
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-weight: 600;

        &:hover {
            background-color: var(--one-color);
        }
    }

    &__signin {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        cursor: pointer;

        span:hover {
            color: var(--one-color);
        }
    }

    &__signup {
        text-align: center;
        font-size: 1.2rem;
        color: var(--two-text-color);

        span span {
            margin-left: 6px;
            color: var(--one-text-color);
            cursor: pointer;

            &:hover {
                color: var(--one-color);
            }
        }
    }
}